
@{
    ViewBag.Title = "Books List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-8 mc-auto">
<div class="card">
<div class="card-header">
 <h3 class="card-title">New Book</h3>
</div>
<div class="mb-3">
    <form>
  <div class="mb-3">
  <label class="form-label">Book Title</label>
                <input type="text" class="form-control" placeholder="Enter book title">

</div>
            <div class="mb-3">
                <label class="form-label">Book Author</label>
                <input type="text" class="form-control" placeholder="Enter book author">

            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <select class="form-select">
                    <option >Select category</option>
                    <option>Fiction</option>
                    <option>Science</option>
                    <option>Fantasy</option>
                    <option>Mystery</option>
                    <option>Horror</option>
                </select>
            </div>
            <div class="mb-3">
             <label class="form-label">Desciption</label>
             <textarea class="form-control" rows="4" placeholder="Enter book description"></textarea>
             </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end"> <a href="/Books" class="btn btn-secondary me-md-2">Cancel</a>
                <button type="submit" class="btn btn-primary">Add Book</button>
                </div>
           
            </form>
</div>
    </div>
   </div>
</div>