@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class= "row">
<div class="text-center">
        <div class="jumbotron">
            <h1 class="display-4"> Library Management System

            </h1>
        </div>
    </div>
</div>

    <!--Librarian Section-->
<div class=" row">
<div class="card">
<div class=" card-body text-center">
<h3 class="card-title">Librarian Portal</h3>
<p class="card-text">Manage books, members, and lending operations efficiently.</p>
<a href="/Books" class="btn btn-primary">Manage My Books</a>
</div>
</div>
</div>
